:root {
  --color-white: #ffffff;
  --color-hover-white: #f5f5f5;
  --color-background: #f2f7fd;
  --color-green-gradient: linear-gradient(90deg, #1eb35e 3.62%, #75f3ab 81.27%);
  --color-regular-blue: #7492b6;
  --color-blue: #459ff8;
  --color-hover-blue: #2e94fa;
  --color-light-blue: #83a6cf;
  --color-light-grey: #d2d7de;
  --color-black: #2e2e2e;
  --color-purple: #6610f2;
  --color-eletric: #56eef4;
  --color-gray-separator: #ebf2f7;
  --color-yellow: #f9c300;
}
